<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nschat">

    <!-- 안드로이드 앱에서 인터넷에 접속할 수 있도록 설정   -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 음성인식을 위한 권한을 선언-->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/main_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/main_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.nschat."
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".First_Like"></activity>
        <activity android:name=".How_many_cigarette"></activity>
        <activity android:name=".Map.MapsActivity"></activity>
        <activity android:name=".Chatting.ChattingActivity"></activity>
        <activity android:name=".Map.Parsing"></activity>
        <activity android:name=".Goals_Setting"></activity>
        <activity android:name="Setting"></activity>

    </application>
</manifest>